.bg-primary {
  background: #7952b3 !important;
  color: white !important;
}

nav div a {
  color: rgb(235, 235, 235) !important;
}

nav div a:hover {
  color: white !important;
}

nav div button {
  color: rgb(235, 235, 235) !important;
}

nav div button:hover {
  color: white !important;
}

.font-weight-bold {
  font-weight: 600 !important;
}

.display-4 {
  font-size: 4rem !important;
}

.lead {
  font-size: 1.5rem;
  font-weight: 400;
}